html,
body {
  background: #eff4f9;
  height: 80%;
  margin: 0;
  padding: 0;
}
ol#route-list {
  border: 1px solid grey;
  border-radius: 3px;
  width: 100px;
  margin-left: 15px;
}
li {
  font-size: 18px;
  color: #5a5555;
  font-weight: 600;
  padding: 10px;
}
li:hover {
  cursor: pointer;
  opacity: 0.5;
}
#map {
  height: 100%;
}
#main-heading {
  text-align: center;
  color: #514d4d;
  padding: 15px;
}
#walk-heading {
  font-size: 19px;
  color: #514d4d;
  padding: 10px;
}

.mg-bottom-10 {
  margin-bottom: 10px;
}
.padding-5 {
  padding: 5px;
}
